@media (max-width: 1400px) {
    .container {
        max-width: 1300px;
    }
    .footer {
        &__form {
            input {
                width: 240px;
            }
            ::placeholder {
                font-size: 18px;
            }
        }
        &__menu {
            a {
                width: 145px;
            }
        }
        &__social {
            font-size: 25px;
        }
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 575px) {

}