@media (max-width: 1400px) {
    .footer {
        &__form {
            input {
                width: 240px;
            }
            ::placeholder {
                font-size: 18px;
            }
        }

        &__menu {
            padding: 30px 25px;
            width: 27%;
            a {
                margin: 5px 14px;
                width: 120px;
            }
        }

        &__links {
            width: 23%;
        }

        &__social {
            font-size: 25px;
        }
    }
}

@media (max-width: 1200px) {
    .header {
        &__logo {
            font-size: 40px;
        }
    
        &__btn {
            img {
                width: 30px;
            }
        }
    }

    .title {
        font-size: 100px;
    }

    .subtitle {
        font-size: 60px;
    }

    .button {
        width: 285px;
        height: 75px;
    
        font-size: 30px;
    }

    .footer {
        &__wrapper {
            height: 260px;
        }

        &__logo {
            font-size: 30px;
        }

        &__descr {
            font-size: 17px;
        }

        &__link {
            font-size: 17px;
        }

        &__c {
            font-size: 17px;
        }

        &__menu {
            padding: 0px 40px;
            width: 25%;
            a {
                width: 124px;
                font-size: 17px;
            }
        }

        &__links {
            width: 25%;
            p {
                font-size: 17px;
            }
        }

        &__social {
            font-size: 22px;
        }

        &__form {
            input {
                width: 225px;
            }
            ::placeholder {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 991px) {
    .header {
        &__logo {
            font-size: 35px;
        }
    
        &__btn {
            img {
                width: 25px;
            }
        }
    }

    .title {
        font-size: 90px;
    }

    .subtitle {
        font-size: 50px;
    }

    .button {
        width: 255px;
        height: 65px;
    
        font-size: 23px;
    }

    .footer {
        &__wrapper {
            height: 220px;
        }

        &__logo {
            font-size: 25px;
        }

        &__descr {
            margin-top: 20px;
            font-size: 15px;
        }

        &__link {
            margin-top: 20px;
            font-size: 15px;
        }

        &__c {
            margin-top: 35px;
            font-size: 15px;
        }

        &__menu {
            a {
                margin: 3px 14px;
                width: 120px;
                font-size: 15px;
            }
        }

        &__links {
            p {
                font-size: 15px;
            }
        }

        &__social {
            font-size: 20px;
        }

        &__form {
            input {
                width: 195px;
                height: 55px;
            }
            ::placeholder {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 767px) {
    .home {
        &__block {
            min-width: 100%;
        } 
    }

    .footer {
        padding: 0px 50px;
        &__wrapper {
            height: auto;
        }

        &__info {
            padding: 25px 0px;
            width: 100%;
            border: none;
            border-bottom: 2px solid #4d5362;
            align-items: center;
        }

        &__menu {
            padding: 25px 0px;
            width: 100%;
            border: none;
            border-bottom: 2px solid #4d5362;
            flex-direction: column;
            a {
                justify-content: center;
            }
        }

        &__links {
            padding: 25px 0px;
            width: 100%;
        }
    }

}

@media (max-width: 575px) {

}