.button {
    margin-top: 120px;
    width: 330px;
    height: 95px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;

    font-family: 'OpenSansCondensed';
    font-size: 35px;
    font-weight: 300;
    color: $main-color;
    text-align: center;
    &:hover {
        background-color: rgba(255, 255, 255, 0.8);
        color: #6399b9;
        transition: all 0.3s;
    }
    &:focus {
        outline: none;
    }

    &_second-block {
        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
            color: #bd84dc;
            transition: all 0.3s;
        }
    }
}