.footer {
    padding: 35px 0px;
    background-color: $footer-color;

    &__wrapper {
        height: 295px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__info {
        padding: 0px 50px;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50%;
        border-right: 2px solid $border-color;
        background-color: $footer-color;
    }

    &__logo {
        margin: 0;
        font-family: 'OdinRounded';
        font-size: 35px;
        font-weight: 400;
        color: $main-color;
    }

    &__descr {
        margin: 0;
        margin-top: 25px;
        font-family: 'OpenSans';
        font-size: 20px;
        font-weight: 600;
        color: $text-color;
        text-transform: uppercase;
    }

    &__link {
        margin: 0;
        margin-top: 25px;
        font-family: 'OpenSans';
        font-size: 20px;
        color: $text-color;
        text-decoration: underline;
    }

    &__c {
        margin: 0;
        margin-top: 50px;
        font-family: 'OpenSansCondensed';
        font-size: 20px;
        line-height: 50px;
        font-weight: 700;
        color: $main-color;
    }

    &__menu {
        padding: 30px 30px;
        height: 100%;
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-right: 2px solid $border-color;
        background-color: $footer-color;
        a {
            margin: 5px 20px;
            display: flex;
            width: 145px;
            height: 30px;
            font-family: 'OpenSans';
            font-size: 20px;
            font-weight: 300;
            color: $text-color;
            text-transform: uppercase;
            text-decoration: none;
            align-items: center;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__links {
        padding: 0px 50px;
        height: 100%;
        display: flex;
        width: 20%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $footer-color;
        p {
            font-family: 'OpenSansCondensed';
            font-size: 20px;
            font-weight: 300;
            text-transform: uppercase;
            color: $main-color;
            text-align: center;
        }
    }

    &__form {
        input {
            padding: 15px;
            width: 270px;
            height: 65px;
            opacity: 0.1;
            background-color: #818181;
            border-radius: 10px;
            &:focus {
                outline: none;
            }
        }
        ::placeholder {
            font-family: 'OpenSans';
            font-size: 20px;
            font-weight: 300;
            font-style: italic;
            color: $main-color;
            text-align: center;
        }
    }

    &__social {
        display: flex;
        margin-top: 35px;
        font-size: 30px;
        justify-content: center;
        a {
            text-decoration: none;
        }
        i {
            margin: 0 20px;
            color: #a8abb3;
        }
    }
}