.home {
    max-height: 1080px;
    background: url(../img/home_bike.jpg) center (center/cover) no-repeat;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__block {
        padding: 180px 0px 260px 0px;
        min-width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}