.home {
    min-height: 1793px;
    background: url(../img/home_bike.jpg) center (center/cover) no-repeat;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__block {
        padding: 475px 20px 615px 20px;
        min-width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}