.home {
    max-height: 1080px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__block {       
        padding: 280px 0px 260px 0px;
        min-width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &_left {
            background: url(../img/home_bike_1.jpg) center (center/cover) no-repeat;
        }
        &_right {
            background: url(../img/home_bike_2.jpg) center (center/cover) no-repeat;
        }
    }

}