.title {
    margin: 0;
    font-family: 'HighTide';
    font-size: 120px;
    font-weight: 400;
    color: $main-color;
    text-align: center;

    &_second-block {
        font-family: 'DymaxionScript';
    }
}